[Unit]
Description=Control PulseAudio with a Midi device
After=pulseaudio.service

[Service]
ExecStart=/usr/bin/pamidi

[Install]
WantedBy=default.target
